*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.w-100 {
   width:100%;
}

.h-dvh {
  height: 100dvh;
}

.h-100 {
  height: 100%;
}

.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: #3498db;
}

.bg-green {
  background-color: rgb(0, 255, 0);
}

.bg-yellow {
  background-color: yellow;
}

.bg-purple {
  background-color: #800080;
}

.bg-custom {
  background-color: var(--custom-color);
}

.bg-red-light {
  background-color: #ffcccc;
}

.bg-red-dark {
  background-color: #990000;
}

.bg-tomato{
  background-color: tomato;
}

.header{
  text-align: center;
  font-size: larger;
  padding-top: 2em;
  text-transform: capitalize;
  text-shadow: 0.1em 0.1em 0.3em;
}